<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^saved/([a-zA-Z0-9]{1,30}={0,2})$" ignoreCase="false" />
                    <action type="Rewrite" url="/saved.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^saved/([a-zA-Z0-9]{1,30}={0,2})\.js$" ignoreCase="false" />
                    <action type="Rewrite" url="/saved-javascript.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^save$" ignoreCase="false" />
                    <action type="Rewrite" url="/save-projects.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^email-saved$" ignoreCase="false" />
                    <action type="Rewrite" url="/email-saved.php" />
                </rule>
                <rule name="Saved link" stopProcessing="true">
                    <match url="^saved/([a-zA-Z0-9]{1,30}={0,2})$" ignoreCase="false" />
                    <action type="Rewrite" url="/saved.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Saved JSON" stopProcessing="true">
                    <match url="^saved/([a-zA-Z0-9]{1,30}={0,2})\.js$" ignoreCase="false" />
                    <action type="Rewrite" url="/saved-javascript.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Save for transfer" stopProcessing="true">
                    <match url="^save$" ignoreCase="false" />
                    <action type="Rewrite" url="/save-projects.php" />
                </rule>
                <rule name="Send email for transfer" stopProcessing="true">
                    <match url="^email-saved$" ignoreCase="false" />
                    <action type="Rewrite" url="/email-saved.php" />
                </rule>
                <rule name="Load resources" stopProcessing="true">
                    <match url="^load-resources.js$" ignoreCase="false" />
                    <action type="Rewrite" url="/load-resources-js.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
